.resume{
    text-align: right;
    margin-right: 55px;
    font-size: 25px;
    font-family: Ubuntu;
}

.code-icon{
    height: 3rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: inline-block;
}
.about-text-body{
    font-size: 30px;
    font-family: Ubuntu;
    margin: 115px;
    margin-bottom: 20px;
    color: black;
}

.image-wrapper {
    width: 18%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 40%;
}