* {
    box-sizing: border-box;
  }

.header {
    margin-top: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}
  
.header-top {
display: flex;
width: 100%;
height: 80px;
background-color: #1b262c;
margin-top: -20px;
}

.header-top-title {
display: flex;
justify-content: center;
align-items: center;
margin-right: 20px;
}

.header-title {
color: whitesmoke;
text-decoration: inherit;
font-family: RobotoThin;
font-size: 70px;
}

.header-top-NavBar {
display: flex;
flex: 1;
flex-direction: column;
}

.header-top-seperator {
width: 100%;
border: none;
height: 10px;
margin-top: -2px;
background-color: black;
}

.header-bottom {
display: flex;
flex: 1;
justify-content: flex-end;
align-items: center;
margin-top: 6px;
}

.header-bottom-github {
    margin-right: 55px;
}

.header-bottom_resume {
    margin-right: 55px;
}

.header-bottom-email {
margin-right: 55px;
}
