.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1b262c;
    margin-bottom: 0px;
}

.footer-icons, .footer-title, .footer-copy{
    margin-left: 25px;
    color: whitesmoke;
}